* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.game-container {
  max-width: 21rem;
  min-width: 21rem;
  max-height: 21rem;
}

.game-button {
  max-width: 7rem;
  max-height: 7rem;
  transition: background-color 0.2s;
}

.player-mark {
  font-size: 5rem;
}

.game-button:hover {
  background-color: rgb(255, 255, 255, 10%);
}

.game-button:disabled {
  border: 0;
  opacity: 1;
}

.popup-bg {
  background-color: rgb(0, 0, 0, 0.5);
}

.maxw-23r {
  max-width: 23rem;
}

.maxh-9r {
  max-height: 9rem;
}

.center-element {
  inset: 0;
  position: absolute;
  margin: auto;
}

.z-index-1 {
  z-index: 1;
}

.fs-3r {
  font-size: 3rem;
}

.top-minus-9 {
  top: -9%;
}

.right-0 {
  right: 0%;
}